
name: Testing

on: [push, pull_request, create]

jobs:
    tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-18.04, ubuntu-latest, macos-latest]
                python: ['3.8', '3.9']

        steps:
            - name: Clone Repository
              uses: actions/checkout@v2
              with:
                ref: ${{ github.ref }}
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.python }}
                architecture: x64
            - name: Install Dependencies
              run: |
                  python3 --version
                  python3 -m pip install -U pip
                  pip3 install requests
                  make dev
            - name: Lint Code
              run: make lint
            - name: Run Tests
              run: make tests
